$icomoon-var-Pin1: "\e907";
$icomoon-var-Check1: "\e909";
$icomoon-var-Calendar: "\e90a";
$icomoon-var-Search1: "\e90b";
$icomoon-var-Favorite-On: "\e90c";
$icomoon-var-Favorite-Off: "\e90d";
$icomoon-var-Flag: "\e90e";
$icomoon-var-Star-Empty: "\e910";
$icomoon-var-Star-Half: "\e911";
$icomoon-var-Star-Full: "\e912";
$icomoon-var-Checkbox-Interdeterminate: "\e917";
$icomoon-var-SqFt: "\e91c";
$icomoon-var-Garage: "\e91d";
$icomoon-var-Bath: "\e91e";
$icomoon-var-Bed: "\e920";
$icomoon-var-Tour: "\e921";
$icomoon-var-Youtube: "\e922";
$icomoon-var-Linkedin: "\e923";
$icomoon-var-Pinterest: "\e924";
$icomoon-var-Instagram: "\e925";
$icomoon-var-Facebook: "\e926";
$icomoon-var-Neighborhood: "\e927";
$icomoon-var-Park: "\e928";
$icomoon-var-View-Map: "\e929";
$icomoon-var-Drag: "\e92a";
$icomoon-var-Retail: "\e92b";
$icomoon-var-School: "\e92c";
$icomoon-var-Dot: "\e92d";
$icomoon-var-Radio-On: "\e92e";
$icomoon-var-Radio-Off: "\e92f";
$icomoon-var-Link-Out: "\e930";
$icomoon-var-Subtract: "\e931";
$icomoon-var-Add: "\e932";
$icomoon-var-Close1: "\e933";
$icomoon-var-Email: "\e934";
$icomoon-var-Download: "\e935";
$icomoon-var-Pause: "\e936";
$icomoon-var-PDF: "\e937";
$icomoon-var-Phone1: "\e938";
$icomoon-var-Print-Fax: "\e939";
$icomoon-var-Play-Video: "\e93a";
$icomoon-var-Arrow1: "\e93b";
$icomoon-var-Dropdown-Arrow: "\e93c";
$icomoon-var-Add-Plus: "\e900";
$icomoon-var-Arrow: "\e901";
$icomoon-var-Check: "\e904";
$icomoon-var-Close: "\e905";
$icomoon-var-Menu: "\e90f";
$icomoon-var-Phone: "\e913";
$icomoon-var-Pin: "\e914";
$icomoon-var-Play: "\e915";
$icomoon-var-Remove-Subtract: "\e916";
$icomoon-var-Search: "\e918";
$icomoon-var-Shopping: "\e919";
$icomoon-var-Social-Facebook: "\e91a";
$icomoon-var-Social-Instagram: "\e91b";
$icomoon-var-Social-YouTube: "\e91f";
$icomoon-var-view_list: "\e903";
$icomoon-var-map: "\e902";
$icomoon-var-pinterest-p: "\e906";
$icomoon-var-linkedin: "\eaca";