@font-face {
    font-family: 'icomoon';
    src:  url('/assets/icomoon.eot?anncb');
    src:  url('/assets/icomoon.eot?anncb#iefix') format('embedded-opentype'),
    url('/assets/icomoon.ttf?anncb') format('truetype'),
    url('/assets/icomoon.woff?anncb') format('woff'),
    url('/assets/icomoon.svg?anncb#icomoon') format('svg');

    font-weight: normal;
    font-style: normal;
}

.icomoon {
    /* use !important to prevent issues with browser extensions that change /assets */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


$icomoon-var-Add-Plus: "\e900";
$icomoon-var-Arrow: "\e901";
$icomoon-var-Close: "\e905";
$icomoon-var-Menu: "\e90f";
$icomoon-var-Phone: "\e913";
$icomoon-var-Pin: "\e914";
$icomoon-var-Play: "\e915";
$icomoon-var-Remove-Subtract: "\e916";
$icomoon-var-Search: "\e918";
$icomoon-var-Shopping: "\e919";
$icomoon-var-Social-Facebook: "\e91a";
$icomoon-var-Social-Instagram: "\e91b";
$icomoon-var-Social-Twitter: "\e91c";
$icomoon-var-view_list: "\e903";
$icomoon-var-map: "\e902";

.icomoon {
    &--Add-Plus:before {
        content: "\e900";
    }
    &--Arrow:before {
        content: "\e901";
    }
    &--Close:before {
        content: "\e905";
    }
    &--Menu:before {
        content: "\e90f";
    }
    &--Phone:before {
        content: "\e913";
    }
    &--Pin:before {
        content: "\e914";
    }
    &--Play:before {
        content: "\e915";
    }
    &--Remove-Subtract:before {
        content: "\e916";
    }
    &--Search:before {
        content: "\e918";
    }
    &--Shopping:before {
        content: "\e919";
    }
    &--Social-Facebook:before {
        content: "\e91a";
    }
    &--Social-Instagram:before {
        content: "\e91b";
    }
    &--Social-Twitter:before {
        content: "\e91c";
    }
    &--view_list:before {
        content: "\e903";
    }
    &--map:before {
        content: "\e902";
    }
}
