@font-face {
    font-family: 'icomoon';
    src:  url('/assets/icomoon.eot?anncb');
    src:  url('/assets/icomoon.eot?anncb#iefix') format('embedded-opentype'),
    url('/assets/icomoon.ttf?anncb') format('truetype'),
    url('/assets/icomoon.woff?anncb') format('woff'),
    url('/assets/icomoon.svg?anncb#icomoon') format('svg');

    font-weight: normal;
    font-style: normal;
}

.icomoon {
    /* use !important to prevent issues with browser extensions that change /assets */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icomoon {
    &--Pin1:before {
        content: "\e907";
    }
    &--Check1:before {
        content: "\e909";
    }
    &--Calendar:before {
        content: "\e90a";
    }
    &--Search1:before {
        content: "\e90b";
    }
    &--Favorite-On:before {
        content: "\e90c";
    }
    &--Favorite-Off:before {
        content: "\e90d";
    }
    &--Flag:before {
        content: "\e90e";
    }
    &--Star-Empty:before {
        content: "\e910";
    }
    &--Star-Half:before {
        content: "\e911";
    }
    &--Star-Full:before {
        content: "\e912";
    }
    &--Checkbox-Interdeterminate:before {
        content: "\e917";
    }
    &--SqFt:before {
        content: "\e91c";
    }
    &--Garage:before {
        content: "\e91d";
    }
    &--Bath:before {
        content: "\e91e";
    }
    &--Bed:before {
        content: "\e920";
    }
    &--Tour:before {
        content: "\e921";
    }
    &--Youtube:before {
        content: "\e922";
    }
    &--Linkedin:before {
        content: "\e923";
    }
    &--Pinterest:before {
        content: "\e924";
    }
    &--Instagram:before {
        content: "\e925";
    }
    &--Facebook:before {
        content: "\e926";
    }
    &--Neighborhood:before {
        content: "\e927";
    }
    &--Park:before {
        content: "\e928";
    }
    &--View-Map:before {
        content: "\e929";
    }
    &--Drag:before {
        content: "\e92a";
    }
    &--Retail:before {
        content: "\e92b";
    }
    &--School:before {
        content: "\e92c";
    }
    &--Dot:before {
        content: "\e92d";
    }
    &--Radio-On:before {
        content: "\e92e";
    }
    &--Radio-Off:before {
        content: "\e92f";
    }
    &--Link-Out:before {
        content: "\e930";
    }
    &--Subtract:before {
        content: "\e931";
    }
    &--Add:before {
        content: "\e932";
    }
    &--Close1:before {
        content: "\e933";
    }
    &--Email:before {
        content: "\e934";
    }
    &--Download:before {
        content: "\e935";
    }
    &--Pause:before {
        content: "\e936";
    }
    &--PDF:before {
        content: "\e937";
    }
    &--Phone1:before {
        content: "\e938";
    }
    &--Print-Fax:before {
        content: "\e939";
    }
    &--Play-Video:before {
        content: "\e93a";
    }
    &--Arrow1:before {
        content: "\e93b";
    }
    &--Dropdown-Arrow:before {
        content: "\e93c";
    }
    &--Add-Plus:before {
        content: "\e900";
    }
    &--Arrow:before {
        content: "\e901";
    }
    &--Check:before {
        content: "\e904";
    }
    &--Close:before {
        content: "\e905";
    }
    &--Menu:before {
        content: "\e90f";
    }
    &--Phone:before {
        content: "\e913";
    }
    &--Pin:before {
        content: "\e914";
    }
    &--Play:before {
        content: "\e915";
    }
    &--Remove-Subtract:before {
        content: "\e916";
    }
    &--Search:before {
        content: "\e918";
    }
    &--Shopping:before {
        content: "\e919";
    }
    &--Social-Facebook:before {
        content: "\e91a";
    }
    &--Social-Instagram:before {
        content: "\e91b";
    }
    &--Social-YouTube:before {
        content: "\e91f";
    }
    &--view_list:before {
        content: "\e903";
    }
    &--map:before {
        content: "\e902";
    }
    &--pinterest-p:before {
        content: "\e906";
    }
    &--linkedin:before {
        content: "\eaca";
    }
}
