@import "Scss/_settings.scss";

.particle-banner {
    background: black;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__plane {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &:nth-child(2) {
            // transform: translate3d(0, 0, -500px);
        }
    }
}