html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index
    body
        .particle-banner(data-js-component="particle-banner")
            .particle-banner__plane(data-plane, id="particle-plane-1")
            .particle-banner__plane(data-plane, id="particle-plane-2")
            .particle-banner__plane(data-plane, id="particle-plane-3")
            //- .particle-banner__plane(data-plane)
            //- .particle-banner__plane(data-plane)